

.teardrop, .happiness, .fairygodmother, .friends{
    max-width: 300px;
    max-height: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.happinessHeader,.notAlone{
  color:#523123;
  font-family:'Chicle';

}
.mentalHealth {
  font-family: Lexend Peta;
}

.imgContainer{
    display: flex;
}

h1{

    text-align: center;
    
    }
  