

.teardrop, .happiness, .fairygodmother, .friends{
    max-width: 300px;
    max-height: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.happinessHeader{
  color:#5586c6;
  font-size: 40px;
  font-family:'Chicle';

}

.notAlone{
  color:#523123;
  font-family:'Chicle';
  margin-top: 100px;

}

.mentalHealth {
  font-family: Lexend Peta;
}

.imgContainer{
    display: flex;
}

h1{

    text-align: center;
    
    }
  

    .Resources{
      text-align: center;
      font-size: 20px;
    }

    .ResourcesTitle{
      font-family: Lexend Peta;
      text-align: center;
      font-size: 30px;
      color: #a3b315;
      margin-top: 100px;
    }