.entryFormContainer{
  
    width: 700px;
    height: 400px;
    border-radius: 12px;
    background-color: #B0C400;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.moodImg{
  max-width:  140px; 
  max-height: 140px;
  border-radius: 10px;
  margin-right: 20px;
}

.PussinMoods{
  font-family: Chicle;
  font-size: 40px;
  color: #523123;
}


.moodSelectionContainer{
  display: flex;
  flex-direction: column;
  justify-content:right;
}


.deleteButton button {
  display:inline-block;
  padding:0.7em 1.5em;
  border:0.1em solid #523123;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 15px;
  font-family:'Chicle';
  font-weight:300;
  color:#523123;
  text-align:right;
  transition: all 0.2s;
}


.deleteButton button:hover{
  color:#D3CCA5;
  background-color:#523123;
  }


.cardsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}


.noteAndSleep{
  display: flex;
  align-items: center;
  display: table-row;
  justify-content: center;

}


.dateContainer{
  font-family: Lexend Peta;
  color: #795A2D;
}

.moodSelectionTitle{
  font-family: Chicle;
  color: #523123;
  font-size: 25px;
  margin-left: 35px ;
  margin-top: 10px;

}

.Cardtext{
  font-family: Lexend Peta;
  font-size: 18px;
  color: #ffffff;
}

.Cardtext2{
  font-family: Lexend Peta;
  font-size: 18px;
  color: #ffffff;
}

.bottomContainer{

  display: flex;
  justify-content: space-between;
}


.AccomplishmentAndGrateful{
  display: flex;
  flex-direction: column;

}

.dateAndMoodContainer{
  display: flex;
  justify-content: space-between;
}

.deleteButtonContainer{
  display: flex;
  flex-direction: row-reverse;
}